*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{display: flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #211717;

   
    color: #000;
    letter-spacing: 2px;
    font-size: 24px
}
a{
     text-decoration: none;
    text-transform: uppercase;
    position :relative;
    padding: 2rem 3rem;
    border: 1px solid #f9f8f8;
    overflow: hidden;
    color: #f2f0f0;
    transition: all 0.5s ease-in-out;
    
}
a:before{
    content: "Download";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f8f8;
    transform: translatey(-100%);
    transition: all 1s ease-in-out;
    
}
a:hover:before{
    transform: translatey(0);
}